.home_container{
    width: 300px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.delete{
    text-align: center;
    padding:10px 0px;
}
@media (min-width: 768px){
    .home_container{
        width: 600px;
    }
}
@media (min-width: 1024px){
    .home_container{
        width: 900px;
    }
}

